exportPattern("^[[:alpha:]]+")
export("%nin%")
importFrom(magrittr,"%>%")
#importFrom("stats", "na.omit", "dt", "rbeta", "sd")
#import(stats)

importFrom(rlang, .data)

# Weird that it's asking this, but fair...
importFrom(stats, "coef", "cor", "dnorm", "dt", "model.matrix",
                "na.omit", "pt", "qnorm", "qt", "rbeta", "rnorm", "rt",
                "sd", "terms", "var")

# this is for `show_ranef()` to work without complaints
importFrom(broom.mixed, "augment")
importFrom(lme4, "ranef")

# This is for `corvectors()` to work without complaints

importFrom(parallel, "makeCluster", "parLapply", "stopCluster",
           "mclapply")

# This is for `get_sims()` to work without complaints.

importFrom(arm, "sim")

# This is for `fct_reorg()` to work without complaints

importFrom(forcats, "fct_recode", "fct_relevel")

import(ggplot2)
import(grid)
import(labelled)
import(tibble)
import(dplyr)

importFrom(purrr, map)
importFrom(purrr, reduce)

importFrom(methods, is)

export(theme_steve)
export(theme_steve_web)
export(post_bg)

importFrom(ggplot2,"%+replace%")
importFrom(ggplot2,Geom)
importFrom(ggplot2,GeomBoxplot)
importFrom(ggplot2,GeomPoint)
importFrom(ggplot2,GeomSegment)
importFrom(ggplot2,aes)
importFrom(ggplot2,continuous_scale)
importFrom(ggplot2,discrete_scale)
importFrom(ggplot2,draw_key_path)
importFrom(ggplot2,draw_key_pointrange)
importFrom(ggplot2,element_blank)
importFrom(ggplot2,element_line)
importFrom(ggplot2,element_rect)
importFrom(ggplot2,element_text)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,ggproto)
importFrom(ggplot2,ggproto_parent)
importFrom(ggplot2,layer)
importFrom(ggplot2,margin)
importFrom(ggplot2,rel)
importFrom(ggplot2,remove_missing)
importFrom(ggplot2,resolution)
importFrom(ggplot2,theme)
importFrom(ggplot2,theme_bw)
importFrom(ggplot2,theme_gray)
importFrom(ggplot2,theme_grey)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,text)
importFrom(grid,gList)
importFrom(grid,gTree)
importFrom(grid,gpar)
importFrom(grid,grobName)
importFrom(grid,grobTree)
importFrom(grid,segmentsGrob)
importFrom(grid,unit)

# okie doke

#importFrom(DBI, dbConnect)
#importFrom(RSQLite, SQLite)
#importFrom(dbplyr, union)

# This is for print_refs()

importFrom(httr, "GET", "write_disk", "http_error", "status_code")
#importFrom(rmarkdown, "find_pandoc", "pandoc", "with_pandoc_safe_environment")
import(rmarkdown)
importFrom(stringr, "str_subset", "str_replace")
importFrom(tools, "file_ext")
